<html>
    <title>Garage Door Opener</title>


    <body>

        <table>

            <tr>
                <td>
                    <form action="{{ url_for('click_door_left') }}" method=post>
                        <input type=submit value="Click for Left">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('click_door_right') }}" method=post>
                        <input type=submit value="Click for Right">
                    </form>
                </td>
            </tr>
        </table>


    </body>

</html>
